<!doctype html>
<html>
<head>
  <title>Rogue multi</title>
  <link href="/game.css" rel="stylesheet" type="text/css">
  </head>
  <body>   
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>

    <h1>RogueLike GaMe Test</h1>
    <h3>Find The Secret Door !</h3>
    <div id="1">Light Green is Our Hero</div>
    <div id="1">Red is The Enemy</div>
    <div id="1">The door is visible only in the light</div>
    <span id="2">Green Gives you Life</span>
    <h2 id="health">Your Health is 5</h2>
    <button id="toggle" onclick="toggleD()">Toggle Darkness</button>
    <button id="toggle" onclick="toggleL()">Toggle Light</button>
    <div id="wrapper">
    </div>
  </body>
  <script src="game.js"> </script>
  </html>
